<launch>  
    <arg name="use_rviz" default="true" />

    <!-- Load MoveIt configuration (URDF, SRDF and other .yaml configuration files) to the param server -->
    <include file="$(find robot_moveit)/launch/planning_context.launch">
      <arg name="load_robot_description" value="true"/>
    </include>

    <!-- Static TF Publisher -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher" args="0 0 0 0 0 0 world arm_base_link"/>

    <!-- Robot State Publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <!-- UR10e Driver -->
    <!-- It need port 29999, 30001, 30004, 50002 port from local. Do reverse proxy properly. -->
    <include file="$(find ros_unity_bridge)/launch/ur10e_driver.launch">
        <arg name="robot_ip" value="192.168.56.101" />
        <arg name="kinematics_config" value="$(find ur_description)/config/ur10e/default_kinematics.yaml" />
        <arg name="use_tool_communication" value="false" />
        <arg name="controllers" value="joint_state_controller robot_arm_controller" />
        <arg name="stopped_controllers" value="" />
        <arg name="controller_config_file" value="$(find robot_moveit)/config/ros_controllers.yaml" />
    </include>

    <!-- Rviz -->
    <include file="$(find robot_moveit)/launch/moveit_rviz.launch" if="$(arg use_rviz)">
        <arg name="rviz_config" value="$(find robot_moveit)/launch/moveit.rviz"/>
    </include>

    <!-- Launch the Move Group -->
        <!-- Planning Pipelines -->
        <group ns="move_group/planning_pipelines">
            <!-- Always include OMPL to take control of the gripper -->
            <!-- Copy and paste this for every pipeline you need. -->
            <include file="$(find robot_moveit)/launch/planning_pipeline.launch.xml">
                <arg name="pipeline" value="ompl" />
            </include>
        </group>

        <!-- Trajectory Executor -->
        <include ns="move_group" file="$(find robot_moveit)/launch/trajectory_execution.launch.xml">
            <arg name="moveit_controller_manager" value="ros_control"/>
        </include>

        <!-- Start the move_group action server-->
        <node name="move_group" pkg="moveit_ros_move_group" type="move_group" respawn="false" output="screen">
            <param name="allow_trajectory_execution" value="true"/>
            <param name="sense_for_plan/max_safe_path_cost" value="1"/>
            <param name="default_planning_pipeline" value="ompl" />

            <!-- do not copy dynamics information from /joint_states to internal robot monitoring
                default to false, because almost nothing in move_group relies on this information -->
            <param name="monitor_dynamics" value="false" />

            <!-- Publish the planning scene of the physical robot so that rviz plugin can know actual robot -->
            <param name="planning_scene_monitor/publish_planning_scene" value="true" />
            <param name="planning_scene_monitor/publish_geometry_updates" value="true" />
            <param name="planning_scene_monitor/publish_state_updates" value="true" />
            <param name="planning_scene_monitor/publish_transforms_updates" value="true" />
        </node>
</launch>