<launch>
    <!-- Create the server endpoint for Unity -->
    <node name="server_endpoint" pkg="ros_tcp_endpoint" type="default_server_endpoint.py" args="--wait" output="screen">
        <param name="tcp_ip" type="string" value="0.0.0.0"/>
        <param name="tcp_port" type="int" value="10000"/>
    </node>
    <!-- Launch the service -->
    <node name="unity_bridge" pkg="ros_unity_bridge" type="unity_bridge" output="screen"/>
</launch>