<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur10e_rg2">
   <!-- import macros -->
   <xacro:include filename="$(find ur_description)/urdf/inc/ur10e_macro.xacro"/>
   <xacro:include filename="$(find onrobot_rg_description)/urdf/onrobot_rg2_model_macro.xacro"/>

   <!-- declare the robot parts -->
   <xacro:ur10e_robot
      prefix="arm_"
      safety_limits="true"
   />
   <xacro:onrobot_rg2
      prefix="gripper_"
   />

   <!-- attach the parts -->
   <joint name="ur10e_rg2_connector" type="fixed">
      <parent link="arm_tool0"/>
      <child link="gripper_onrobot_rg2_base_link"/>
      <!-- No origin, using the default all-zero -->
   </joint>

   <!-- Define a virtual link as the tip link for navigation -->
   <!-- This is roughly about 21.5cm off from tool0 -->

   <link name="arm_tcp_link"/>
   <joint name="arm_tcp_joint" type="fixed">
      <parent link="arm_tool0"/>
      <child link="arm_tcp_link"/>
      <origin xyz="0 -21.5 0" rpy="0 0 0"/>
   </joint>

   <!-- The world joint will be declared within the moveit package. -->
</robot>
